<style>body{background:white;}</style>
SUBJECT LIST
<table border="1" style="width:600px">
  <tr>
    <th>Description</th>
    <th>Subject code</th>
    
    <th>Block</th>
    </tr>

<% @subjects.each do |list| %>
<tr>
    <td style="text-align:center"><%= list.description %></td>
    <td style="text-align:center"><%= list.subjcode %></td>
    <td style="text-align:center"><%= list.block %></td>
    
            
    </tr> 
    <%end%>
    </table>
