<div id="header" style="position:relative"><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1><br><br><br> &nbspPamplona Branch
</div>
<div id="wrap"><center><%= notice%></center><div id="body1">
<div id="body2"></div>  <div id="body2">

</div>


</div>



<div id="body1"><div id="body2">




<div class="center2" style="margin-left:40px">

</div>






</div>
<div id="body2"><div class="center"><%= render 'form' %>
<%=link_to "register","registration/catcher"%><BR><BR>
</div> </div></div></div>

