<div id="header" style="position:relative"><br><%= image_tag "sfac.png", :size=>"80x80",:style=>"margin-top:-10px;float:left"%><h1 style="margin-top:20px; float:left">Saint Francis Assisi College System</h1>
</div>
<h1>Editing cashier</h1>
<br>

<%= render 'form' %>

<%= link_to 'Show', @cashier %> |
<%= link_to 'Back', cashiers_path %>
