// Place all the styles related to the billing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#body3 {

	

	min-height:500px;
	width: 80%;
	
	font-family: sansation;
	margin-left: auto;
    margin-right: auto;
    margin-top: 74px;
    margin-bottom: auto;
    border-style:solid;
border-color:black;
border-width:4px;
background-image: -webkit-gradient(linear, left top, left bottom, from(#7A5252), to(#5C3D3D));}
#misc{
text-align:right;
margin-right: 70px;
	

}

#r1{
width:800px;
height:auto;
border: 1px black solid;
}
#r2{
width:65px;
float:left;
}
#r3{
width:735px;
float:left;
}
#r4{width:30%;
float:right;
}
#r5{width:580px;
float:left;
}
#r6{width:220px;
float:right;

}
#r7{width:220px;
float:right;

}

#re1{width:1000px;
height:auto;
border: 1px black solid;
}
#re3{width:914px;
float:left;
}
#re4{width:30%;
float:right;
}

#re2{width:86px;
float:left;
}
#re5{width:250px;
float:left;
text-align:center;
}
#re6{	width:100px;
float:left;
text-align:center;
}

